{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto py-8 px-4 flex">
  {% if recipes %}
  <!-- Fixed Recipe Title at Top -->
  <div class="fixed top-0 inset-x-0 bg-white z-50 shadow-md">
    <h1 class="text-center text-2xl font-bold text-gray-900 py-4">
      {% if recipes and recipes|length > 0 %}
        {{ recipes.0.title }}
      {% else %}
        Recipe List
      {% endif %}
    </h1>
  </div>

  <!-- Sidebar Navigation -->
  <aside class="w-1/4 pr-8">
    <nav class="sticky top-[5rem]">
      <h2 class="text-xl font-bold mb-4 text-gray-800">Navigation</h2>
      <div class="my-3">
        {% if referer %}
        <a href="{{ referer }}" class="text-blue-500 hover:underline">
          ← Back to Search Results
        </a>
        {% endif %}
      </div>
      <ul class="space-y-2 text-gray-700">
        {% for recipe in recipes %}
        <li>
          <a href="#recipe-{{ forloop.counter }}" class="text-blue-500 hover:underline">
            Recipe {{ forloop.counter }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </aside>

  <!-- Recipe List -->
  <div class="space-y-6 w-3/4 mt-12">
    {% for recipe in recipes %}
    <div id="recipe-{{ forloop.counter }}" class="p-6 bg-white rounded-lg shadow-md scroll-mt-[5rem]">
      <h2 class="text-2xl font-semibold text-gray-900">Recipe {{ forloop.counter }}</h2>

      {% if recipe.url %}
      <p class="text-blue-600 hover:underline">
        <a href="{{ recipe.url }}" target="_blank">View Source</a>
      </p>
      {% endif %}

      {% if recipe.description %}
      <p class="mt-2 text-gray-600">{{ recipe.description }}</p>
      {% endif %}

      <div class="mt-4">
        {% if recipe.prepTime %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Prep Time:</span> {{ recipe.prepTime }} min
        </div>
        {% endif %}

        {% if recipe.cookTime %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Cook Time:</span> {{ recipe.cookTime }} min
        </div>
        {% endif %}

        {% if recipe.cuisine %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Cuisine:</span>
          <a href="{% url 'search' %}?q={{ recipe.cuisine|urlencode }}" class="text-blue-500 hover:underline">
            {{ recipe.cuisine }}
          </a>
        </div>
        {% endif %}

        {% if recipe.category %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Category:</span>
          <a href="{% url 'search' %}?q={{ recipe.category|urlencode }}" class="text-blue-500 hover:underline">
            {{ recipe.category }}
          </a>
        </div>
        {% endif %}

        {% if recipe.rating %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Rating:</span> {{ recipe.rating }}
        </div>
        {% endif %}

        {% if recipe.totalLikes %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Total Likes:</span> {{ recipe.totalLikes }}
        </div>
        {% endif %}

        {% if recipe.totalIngredients %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Total Ingredients:</span> {{ recipe.totalIngredients }}
        </div>
        {% endif %}

        {% if recipe.totalSteps %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Total Steps:</span> {{ recipe.totalSteps }}
        </div>
        {% endif %}

        {% if recipe.author %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Author:</span> {{ recipe.author }}
        </div>
        {% endif %}

        {% if recipe.dietType %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Diet:</span> {{ recipe.dietType }}
        </div>
        {% endif %}

        {% if recipe.recordHealth %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Record Health:</span> {{ recipe.recordHealth }}
        </div>
        {% endif %}

        {% if recipe.courseFor %}
        <div class="mt-1">
          <span class="font-medium text-gray-700">Course For:</span> {{ recipe.courseFor }}
        </div>
        {% endif %}

        {% if recipe.tags %}
        <div class="mt-1">
          <h3 class="text-lg font-semibold text-gray-800">Tags:</h3>
          <ul class="list-disc list-inside mt-2 text-gray-700">
            {% for tag in recipe.tags %}
            <li>
              <a href="{% url 'search' %}?q={{ tag|urlencode }}" class="text-blue-500 hover:underline">
                {{ tag }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <div class="mt-4">
        <h3 class="text-lg font-semibold text-gray-800">Ingredients:</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          {% for ingredient in recipe.ingredients %}
          <li>
            {% if ingredient.url %}
            <div class="inline group relative">
              <a href="{{ ingredient.url }}" target="_blank" class="text-blue-500 hover:text-blue-700 underline">
                {{ ingredient.label }}
              </a>
              <div
                class="group-hover:block hidden absolute z-10 bg-blue-200 w-48 p-2 rounded-xl shadow-lg right-0 mt-2">
                <span class="block font-semibold">{{ ingredient.label }}</span>

                {% if ingredient.imageUrl %}
                <img src="{{ ingredient.imageUrl }}" alt="{{ ingredient.label }}" class="w-full rounded-md my-2">
                {% else %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTcFI6hTmgUtdxQTZktMt5KgEbySf4mtRgfQ&s"
                  alt="{{ ingredient.label }}" class="w-full rounded-md my-2">
                {% endif %}
                <p class="font-bold">Deskripsi:</p>
                {% if ingredient.description %}
                <p>{{ ingredient.description }}</p>
                {% else %}
                <span class="italic">&lt;Deskripsi tidak tersedia&gt;</span>
                {% endif %}
              </div>
            </div>
            {% else %}
            <span class="text-gray-800">{{ ingredient.label }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>

      {% if recipe.instructions %}
      <div class="mt-4">
        <h3 class="text-lg font-semibold text-gray-800">Instructions:</h3>
        <ol class="list-decimal list-inside mt-2 text-gray-700">
          {% for instruction in recipe.instructions %}
          <li>{{ instruction }}</li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-gray-600">No recipes found.</p>
  {% endif %}
</div>
{% endblock %}