{% extends 'base.html' %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-md relative">
    <h1 class="text-4xl font-bold text-center mb-3 text-gray-800">
      Find Your Recipe
    </h1>
    <form action="{% url 'search' %}" method="get" class="shadow-md rounded-lg p-6">
      <div class="mb-4">
        <input type="search" name="q" placeholder="Search for recipes (e.g., Pasta, Chicken, Salad)"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          required />
      </div>
      <button type="submit"
        class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-300">
        Search Recipes
      </button>
    </form>
  </div>
</div>
{% endblock %}